langgraph
langchain
langchain_community
langchain-text-splitters
langchainhub
ipykernel
langchain_groq
langchain_huggingface
bs4
tiktoken
chromadb
langchain_google_genai
langchain-google-vertexai
python-dotenv
pypdf
sentence-transformers
faiss-cpu
rank_bm25
torch
torchvision
torchaudio
torchtext
datasets
tokenizers
torchmetrics
tensorboard
altair
wandb
spacy
torchinfo
scikit-learn
